html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #2C3333!important;
 
}

.navbar .nav-item {
    color: azure !important;
    font-family: 'Comfortaa', cursive;
}

#myskills-scroll {

}

#Anjielo-Zapata {
    text-align: center;
    margin: 300px auto 30px auto;
    color: azure;
    font-family: 'Comfortaa', cursive;

}
#Web-Developer {
    text-align: center;
    margin: 30px auto 30px auto;
    color: azure;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Silkscreen', cursive;
}

.top-cointainer {
    background-image: url(laptop.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Aboutme-container {
    background-image: url(Blogs.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#About-Me {
    text-align: center;
    margin: 0px auto 20px auto;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Comfortaa', cursive;
    color: azure;
    
}

#aboutme-intro {
    width: 50% ;
    text-align: left;
    margin: auto;
    color: azure;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
}

#resume {
    text-align: center;
}

#My-Skills {
    text-align: center;
    margin: 20px auto 20px auto;
    font-family: 'Comfortaa', cursive;
    padding-top: 100px;
    padding-bottom: 100px;
    color: azure;
}

hr {
    width: 3%;
    border-top: dotted;
    border-width: 5px;
    border-color: black;
}
.skills-logo
{
    height: 150px;

}

.logo {
    margin: 30px;
    float: left;

}

.logo:hover {
   margin: 10px;
}


.socials {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.socials-logo {
    height: 30px;
    width: 130px;
    margin: 0 20px 0 20px;
}


.container, .row {
    width: 100%;
    display:flex;
    justify-content:center; 
    /* margin: 100px auto 100px auto;   */
}

.container2, .row2 {
    width: 100%;
    display:flex;
    justify-content:center; 
    /* margin: 100px auto 100px auto;   */
}





#Projects {
    text-align: center;
    margin: 20px auto 20px auto;
}

footer {
    background-color: #2C3333;
    width: 100%;
    padding: 10px;
    bottom: 0;
    text-align: center;

}

#copyright {
    margin-bottom: 0px;
    color:white;
}